#exampleSlider {
  position: relative;
  border: 0px;
  border-color: transparent;
}

#exampleSlider .MS-content {
  margin: 20px 8%;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid none;
}

#exampleSlider .MS-content .item {
    display: inline-flex;
    width: 30%;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    white-space: break-spaces  ; 
}

@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 100%;
  }
}
#exampleSlider .MS-content .item img {
  vertical-align: middle;
  width: 20%;
}