#exampleSlider {
  position: relative;
  border: 0px;
  border-color: transparent;
}

#exampleSlider .MS-content {
  margin: 20px 8%;
  overflow: hidden;
  white-space: nowrap;
}

#exampleSlider .MS-content .item {
    display: inline-block;
    width: 25%;
    position: relative;
    vertical-align: middle;
    overflow: auto;
    white-space: nowrap; 
}

#exampleSlider .MS-content .item img {
  vertical-align: middle;
  width: 20%;
}

hr.colored {
  border: 0;   /* in order to override TWBS stylesheet */
  height: 3px;

  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40.1%, rgba(228, 132, 0, 1) 40.1%, rgba(228, 132, 0, 1) 46.7%, rgba(2, 2, 142, 1) 46.7%, rgba(2, 2, 142, 1) 53.3%, rgba(228, 132, 0, 1) 53.3%, rgba(228, 132, 0, 1) 59.9%, rgba(255, 255, 255, 0) 59.9%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
}